<div class="container">
    {{#if checkToken}}
        <a href="news/blog/create">create page</a>
        <form action="authentication/logout" method="post">
            <button type="submit">logout</button>
        </form>
    {{/if}}
</div>
