<form method="post" action="/authentication/checklogin">

    <div class="form-account">
        <label for="username">username</label>
        <input type="text" name="userName" value="" id="username">
    </div>
    <div class="form-account">
        <label for="password">password</label>
        <input type="password" name="passWord" value="" id="password">
    </div>
    <button type="submit">submit</button>
</form>

