<form method="get" name="login" action="/login/checklogin">

    <div class="form-account">
        <label for="username">username</label>
        <input type="text" name="userName" value="" id="username">
    </div>
    <div class="form-account">
        <label for="password">password</label>
        <input type="password" name="passWord" value="" id="password">
    </div>
    <button type="submit">submit</button>
</form>

<script>

    const $ = document.querySelector.bind(document);
    const $$ = document.querySelectorAll.bind(document);
    (function() {
        const button = $('button');
        const handleClick = function(e) {
            e.preventDefault();
        }
        button.addEventListenr('click',handleClick)
        const username = $('#username');
        const password = $('#password');
        if(username.value.length() != 0 && password.value.length() != 0) {
            const form = document.form['login'];
            button.removeEventListenr('click',handleClick);
            button.onclick = function(e) {
                form.submit();

            }
        }
        
    })()

</script>